{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Gedebook - Login</title>
{% endblock meta %}

{% block content %}
    <div class="container-fluid bg-dark text-white" style="height: 100vh;">
        <div class="row text-center my-auto align-items-center justify-content-end" style="height: 100vh;">
            <div class="col-lg-3">
                <h1 class="mb-5" style="font-size: 55px; font-weight: bold;">Gedebook</h1>

                <form method="POST" action="" class="mx-2 my-3 text-dark">
                    {% csrf_token %}
                    <div class="form-floating my-3">
                        <input type="username" name="username" id="username" placeholder="Username" class="form-control">
                        <label for="username" class="form-label">Username</label>
                    </div>
                    
                    <div class="form-floating mt-4 mb-2">
                        <input type="password" name="password" id="password" placeholder="Password" class="form-control" aria-describedby="passwordHelpBlock">
                        <label for="password" class="form-label">Password</label>
                        <div id="passwordHelpBlock" class="form-text text-white mx-2 mt-2 mb-5">
                            {% if messages %}
                                <ul class="list-unstyled mt-3">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="d-grid gap-1">
                        <button type="submit" class="btn btn-outline-light mb-3">Login</button>
                        <a href="{% url 'main:register' %}" style="text-decoration: none;" class="d-grid">
                            <button type="button" class="btn btn-light mb-5">Sign Up</button>
                        </a>
                    </div>
                </form>
            </div>

            <div class="col-lg-8">
                <img src="{% static '/login-icon.png' %}" style="width: 55%; height: auto;" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    
{% endblock content %}