{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Gedebook</title>
{% endblock meta %}

{% block content %}
    <div class="navbar navbar-expand-lg bg-light">
        <div class="container mx-auto">
            <a class="navbar-brand text-dark" href="#" style="font-size: 25px; font-weight: bold;">{{ name }}'s Gedebook</a>
            <div class="d-flex">
                <a href="{% url 'main:create_product' %}" class="text-dark mx-3" style="text-decoration: none;">
                    Add New Product
                </a>
                <a class="text-dark mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-decoration: none; cursor: pointer;">
                    Add Product by AJAX
                </a>
                <a href="{% url 'main:logout' %}" class="text-dark ms-3" style="text-decoration: none;">
                    Logout
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark text-white">
        <div class="row align-items-start justify-content-center pb-5 pt-4 px-3 bg-dark" id="product_row">
            {% for product in products %}
                <div class="col-md-4 my-2" style="height: 100%;">
                    <div class="card bg-secondary text-white text-center" style="--bs-bg-opacity: .1; height: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{% static '/book-image-1.jpg' %}" width="100%" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body mt-4">
                                    <h5 class="card-title px-3 pb-2" style="font-weight: bold; font-size: 22px;">{{ product.name }} - {{ product.amount }} Buah</h5>
                                    <p class="card-text px-3 my-4 pb-1 pt-2 text-center" style="font-size: 14px;">{{ product.description }}</p>
                                    <div class="mt-5 pb-0 mb-0">
                                        <a href="delete-product/{{product.id}}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-outline-danger mx-1" style="border-width: 2px;">Hapus Barang</button>
                                        </a>
                                        <a href="add-product-by-one/{{product.id}}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-outline-success mx-1" style="border-width: 2px;">+</button>
                                        </a>
                                        <a href="reduce-product-by-one/{{product.id}}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-outline-warning mx-1" style="border-width: 2px;">-</button>
                                        </a>
                                        <a href="{% url 'main:edit_product' product.pk %}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-outline-primary mx-1" style="border-width: 2px;">Edit</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row align-items-center justify-content-center text-center py-5">
            <div class="col">
                <p style="font-size: 20px;">Kamu menyimpan {{ product_count }} buku dalam aplikasi ini  –  Sesi terakhir login: {{ last_login }}</p>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount</label>
                            <input type="amount" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }

        async function refreshProducts() {
            document.getElementById("product_row").innerHTML = ""
            const products = await getProducts()
            let htmlString = ``
            products.forEach((item) => {
                let description = item.fields.description;
                if (description.length > 200) {
                    description = description.slice(0, 200);
                    description += "...";
                }
                htmlString += 
                `<div class="col-md-6 my-2" style="height: 100%;">
                    <div class="card bg-secondary text-white text-center" style="--bs-bg-opacity: .1; height: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{% static '/book-image-1.jpg' %}" width="100%" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body mt-4">
                                    <h5 class="card-title px-3 pb-2" style="font-weight: bold; font-size: 22px;">${item.fields.name} - ${item.fields.amount} Buah</h5>
                                    <p class="card-text px-3 my-4 pb-1 pt-2 text-center" style="font-size: 14px;">${description}</p>
                                    <div class="mt-5 pb-0 mb-0">
                                        <a href="delete-product/${item.pk}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-outline-danger mx-1" style="border-width: 2px;">Hapus Barang</button>
                                        </a>
                                        <a href="add-product-by-one/${item.pk}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-outline-success mx-1" style="border-width: 2px;">+</button>
                                        </a>
                                        <a href="reduce-product-by-one/${item.pk}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-outline-warning mx-1" style="border-width: 2px;">-</button>
                                        </a>
                                        <a href="edit_product/${item.pk}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-outline-primary mx-1" style="border-width: 2px;">Edit</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`
            })
            
            document.getElementById("product_row").innerHTML = htmlString
        }

        refreshProducts()

        function addProduct() {
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)

            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").onclick = addProduct
    </script>

{% endblock content %}
