{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Gedebook - Register</title>
{% endblock meta %}

{% block content %}  
    <div class = "container-fluid bg-dark text-white" style="height: 100vh;">
        <div class="row text-center my-auto align-items-center justify-content-start" style="height: 100vh;">
            <div class="col-lg-7">
                <img src="{% static '/register-icon.png' %}" style="width: 55%; height: auto;" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4">
                <h1 class="mb-4" style="font-size: 55px; font-weight: bold;">Gedebook</h1>
                <div class="card bg-light text-center" style="--bs-bg-opacity: 1;">
                    <div class="card-header text-start">
                        Sign Up                    
                    </div>
                    <div class="card-body">
                        <form method="POST" class="text-dark text-center">  
                            {% csrf_token %}  
                            
                            {% for field in form %}
                                <div class="form-label">
                                    {{ field.label_tag }}
                                </div>
                                <div class="mb-2">
                                    {{ field }}
                                </div>
                                {{ field.errors }}
                            {% endfor %}

                            <div class="d-grid">
                                <div class="row justify-content-center">
                                    <div class="col-md-6 d-grid">
                                        <button type="submit" class="btn btn-outline-success mt-4 mb-3">Sign Up!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-grid mt-4 text-center">
                    <div class="row justify-content-center">
                        <div class="col-md-6 d-grid">
                            <a href="{% url 'main:login' %}" style="text-decoration: none;" class="d-grid">
                                <button type="button" class="btn btn-warning mb-5">Login Page</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
{% endblock content %}

